/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 22, 2017, 8:35:40 PM
    Author     : Dragon ANX
*/
* 
{
    font-family:"Oswald", sans-serif;
    border: 0px solid black;
    margin: 0px;
    padding: 0px;
    outline: 0px;
    text-decoration:none;
    
}

